{% extends 'store/base.html' %}

{% load static %}
{% block title %}checkout{% endblock%}

{% block content %}
<div class="row">
<section class="col-6 mt">
<form>
    <div class="form-row my-4">
        <div class="form-group col-md-6">
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Name...">
        </div>
        <div class="form-group col-md-6">
            <input type="email" class="form-control" id="inputEmail4" placeholder="Email...">
        </div>
    </div>
    <h5>Shipping Information:</h5>
    <div class="form-group my-4">
        <input type="text" class="form-control" id="inputAddress" placeholder="Address...">
    </div>
    <div class="form-group my-4">
        <input type="text" class="form-control" id="inputAddress2" placeholder="State...">
    </div>
    <div class="form-row my-4">
        <div class="form-group col-md-6">
            <input type="text" class="form-control" id="inputCity" placeholder="City...">
        </div>
        <div class="form-group col-md-6">
            <input type="text" class="form-control" id="inputZip" placeholder="Zip...">
        </div>
    </div>
    <button type="submit" class="btn btn-success btn-block">Continue</button>
    </form>
</section>

<section class="col-6 mt">
    <button class="btn btn-outline-secondary my-4"><i class="fas fa-arrow-left"></i>Back to Cart</button>
    <h3 class="mt-4">Order Summary:</h3>
    <div class="mt-5">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col-2" style="width:30%;">#</th>
                    <th scope="col-2" style="width:20%;">Product 1</th>
                    <th scope="col-2" style="width:20%;">$20</th>
                    <th scope="col-2" style="width:20%;">x2</th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="mt-5">
    <h3>Items:</h3>
    <h3 class="mt-3">Total: $</h3>
    </div>
</section>
</div>
{% endblock %}